/* Entire thing */
body {
    background-color: lightcyan;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
    margin-left: 500px;
}

.header1 {
    color: blue;
    text-align: center;
    font-size: 50px;
}

/* Sticky header styles */
.sticky-header {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* Stick to the top */
    background-color: lightcyan; /* Same background as body */
    z-index: 10; /* Make sure it's above other content */
    padding: 5px 0; /* Reduced padding around the header */
}

.header2 {
    color: blue;
    text-align: center;
    margin: 10px 0; /* Reduced margin around the headers */
}

.par {
    color: black;
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 20px;
    margin-top: 25px;
    font-size: large;
}

.lista {
    font-size: large;
}
